<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sustech.auth.mapper.SysGroupMapper">
    <select id="selectUserNotInGroup" resultType="edu.sustech.model.system.SysUser">
        select *
        from sys_user
        where id not in (select user_id
        from sys_user_role where group_id = #{groupId} and is_deleted = 0)
    </select>

    <select id="selectGroupIdByName" resultType="Long">
        select id
        from sys_group where group_name = #{groupName}
    </select>
</mapper>
